.title {
    text-align: center;
}

.messageA {
    background-color: lightgray;
}

.messageB {
    background-color: white;
}

.message {
    padding: 1.5%;
}

.messages {
    overflow: auto;
}

.sendMessage {
    text-align: center;
}

.nickname-choose {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
}

.nickname-choose-hide {
    display: none;
}