.title {
    text-align: center;
}

.messageA {
    background-color: lightgray;
}

.messageB {
    background-color: white;
}

.message {
    padding: 1%;
}

html, body {
    overflow: hidden;
}

.sendMessage {
    text-align: center;
}

.nickname-choose {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    /* display: none; */
}

.msgMention {
    color: lightskyblue;
}